@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #f9fafc;
  font-family: "Open Sans";
  font-weight: normal;
  font-size: 16px;
  width: 90%;
  max-width: 1500px;
  position: relative;
  margin: 0 auto;
}

p {
  display: inline-block;
  width: 80%;
  max-width: 800px;
  border-left: #69696a 3px solid;
  padding-left: 10px;
  margin-bottom: 30px;
}

ul {
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  margin-left: -37px;
}

div {
  font-weight: 800;
  display: flex;
}

.hire_us {
  background-color: black;
  border-radius: 25px;
  color: white;
  font-weight: 800;
  padding: 5px 15px;
  justify-content: center;
}

#center_hire_us {
  padding-left: 50%;
}


.scroll-down {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

}

@media only screen and (min-width: 922px){

  p {
    width: 500px;
  }

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  li {
    list-style-type: none;
    margin-right: 40px;
    padding: 5px 10px;
  }


  #chirpus {
    position: absolute;
  }

  #center_hire_us {
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .hire_us {
    background-color: black;
    border-radius: 25px;
    color: white;
    width: 100px;
    height: 25px;
  }


  .scroll_down {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    position: fixed;

  }

  div {
    position: absolute;
    border-radius: 100%;
  }

  #circle1 {
    width: 150px;
    height: 150px;
    top: 50%;
    bottom: 0;
    left: auto;
    right: 60px;
    background-color: rgba(247, 193, 162, 0.7);
    z-index: 1;
  }
  #circle2 {
    width: 100px;
    height: 100px;
    top: 20%;
    bottom: 0;
    left: auto;
    right: 70px;
    background-color: rgba(207, 130, 213, 0.6);

  }
  #circle3 {
    width: 200px;
    height: 200px;
    top: 15%;
    bottom: 0;
    left: auto;
    right: 150px;
    background-color: rgba(247, 136, 167, 0.6);

  }

  #circle_box {
    width: 70%;
    height: 70%;
    position: absolute;
    right: 0;
  }
}

@media only screen and (min-width: 1200px){

  #circle1 {
    width: 250px;
    height: 250px;
    top: 200px;
    bottom: 0;
    left: 500px;
    right: 70px;
    background-color: rgba(247, 193, 162, 0.7);
    z-index: 1;
  }

  #circle2 {
    width: 200px;
    height: 200px;
    top: 25px;
    bottom: 0;
    left: 550px;
    right: 100px;
    background-color: rgba(207, 130, 213, 0.6);

  }

  #circle3 {
    width: 325px;
    height: 325px;
    top: 20px;
    bottom: 0;
    left: 275px;;
    right: 250px;
    background-color: rgba(247, 136, 167, 0.6);

  }
  .scroll_down {
    left: 50%;
    transform: translateX(-50%);
    margin-top: 300px;
    position: fixed;

  }
  h1 {
    margin-top: 5%;
  }
  p {
    width: 500px;
  }

  #circle_box {
    width: 70%;
    height: 70%;
    position: absolute;
    right: 0;
  }

}
