@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  background-color: #f9fafc;
  font-family: "Open Sans";
  font-weight: normal;
  font-weight: 800;
  font-size: 22px;
}

ul {
  display: flex;
  justify-content: flex-end;
}

li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
  padding: 5px 10px;
}

.hire-us {
  background-color: black;
  border-radius: 15px;
  color: white;
  padding: 5px 15px;
}

.scroll-down {
bottom: 30px;
left: 50%;

}

h1 {
  margin: 12% 0 2% 10%;
}

p {
  display: inline-block;
  width: 50%;
  max-width: 800px;
  border-left: #69696a 3px solid;
  padding-left: 10px;
  margin: 0 0 0 10%;

}

div {
  position: absolute;
  border-radius: 100%;
  margin-left: 30px
}


#circle1 {
  width: 350px;
  height: 350px;
  top: 40%;
  bottom: 0;
  left: auto;
  right: 70px;
  background-color: rgba(247, 193, 162, 0.7);
  z-index: 1;
}

#circle2 {
  width: 300px;
  height: 300px;
  top: 23%;
  bottom: 0;
  left: auto;
  right: 150px;
  background-color: rgba(207, 130, 213, 0.6);

}

#circle3 {
  width: 500px;
  height: 500px;
  top: 30%;
  bottom: 0;
  left: auto;
  right: 350px;
  background-color: rgba(247, 136, 167, 0.6);

}
